<div class="container">
	<form class="row" (submit)="cadastrar($event)">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Titulo</label>
				<input 
					(input)="foto.titulo=$event.target.value" 
					[value]="foto.titulo" 
					class="form-control" placeholder="Titulo" autocomplete="off">
			</div>
			<div class="form-group">
				<label>URL</label>
				<input 
					(input)="foto.url=$event.target.value"
					[value]="foto.url" 
					class="form-control" placeholder="URL" autocomplete="off">
			</div>
			<div class="form-group">
				<label>Descrição</label>
				<textarea 
					(input)="foto.descricao=$event.target.value"
					[value]="foto.descricao" 
					class="form-control" placeholder="Descrição" autocomplete="off"></textarea>
			</div>
			<hr>
			<button type="submit" class="btn btn-success">Salvar</button>
			<a [routerLink]="['']" class="btn btn-default">Voltar</a>
		</div>
	</form>
</div>